@page
@model OnlineShop.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<div>
    <h2 class="text-center"><b>About</b></h2>

    <h3>Placeat aut eveniet</h3>
    <h5>Sed dolore</h5>
    <p>
        Reiciendis molestias sit vitae mollitia ea repellendus saepe ut labore veritatis eum officiis dolores vel aliquid repudiandae.
        Ut laboriosam esse eos eligendi error quo omnis velit et possimus tenetur in maxime voluptatem.
    </p>
    <h5>Qui omnis accusamus sed</h5>
    <p>
        In natus reprehenderit qui modi consequatur in praesentium ipsam sed internos beatae aut sint nesciunt et quam nostrum.
        Est quia sequi est ratione labore aut excepturi iusto non necessitatibus omnis a ipsa tempora aut blanditiis consequatur et magnam sint!
    </p>

    <h3>Hic sequi dolores rem</h3>
    <p>
        Non labore suscipit aut animi numquam itaque tempore quam ratione est enim excepturi in harum ipsam ut sunt error.
        Aut consectetur sint ut corrupti similique cum aliquid porro qui ullam sunt qui enim consequuntur et vitae minima.
    </p>
</div>