@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 class="text-center display-4">Online shop home page</h1>
    <p>
        Ex maxime tempora et tempore dolorem qui autem beatae ea iusto voluptatibus ut galisum accusamus ut placeat sint eum omnis doloribus!
        Et delectus libero et Quis voluptatem aut sint illo ut sunt ipsam et nulla eaque At minima nesciunt ut enim dolor.
        Quo velit placeat et voluptatum veritatis quo alias deleniti et nisi natus est recusandae voluptates qui officia ipsum est galisum vitae.
        Aut voluptas possimus sit mollitia tenetur et officia magni qui molestias pariatur. Et explicabo earum ut aperiam eum sunt beatae.
        Aut expedita commodi et incidunt assumenda aut tempora aliquid sit similique pariatur.
    </p>
</div>
